<header>
<section id="head">
    <section id="title">
      <h1>
        <a href="/"> Orbo </a>
      </h1>
    </section>
    <section id="navigation">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="/cart">Cart</a></li>
          <li><a href="/orders">Orders</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    </section>
  </section>
</header>