<header>
<section id="head">
    <section id="title">
      <h1>
        <a href="/"> Orbo </a>
      </h1>
    </section>
    <section id="navigation">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="/cart">Cart</a></li>
          <li><a href="/orders">Orders</a></li>
<!--          <li><a href="/logout">Logout</a></li>-->
            <li>
                <div class="dropdown">
                    <button class="dropbtn">My Account</button>
                    <div class="dropdown-content">
                        <a href="/profile">My Profile</a>
                        <a href="/logout">Logout</a>
                    </div>
                </div>
            </li>
        </ul>
      </nav>
    </section>
  </section>
    <script src="/scripts/dropdown.js"></script>
</header>