<%- include('../shared/head')%>
    <title>Orbo - Buy anything you want!</title>
  </head>
  <body>
    <%-include('../shared/navigation')%>
    <section id="body">
      <h1 id="heading">Welcome to Orbo Store!</h1>
    </section>
  </body>
</html>
