<%- include('../shared/head') %>
<title>Orbo - My Profile</title>
<link rel="stylesheet" href="/styles/profile.css">
</head>
<body>
<%- include('../shared/navigation') %>

<section id="body">
    <div class="profile-content">
        <div class="profile-info">
            <p><strong>Name:</strong> John Doe</p>
            <p><strong>Email:</strong> johndoe@example.com</p>
            <p><strong>Phone:</strong> (123) 456-7890</p>
        </div>
        <div class="profile-picture">
            <img src="/pictures/pexels-miami302-26443251.jpg" alt="Profile Picture">
        </div>
    </div>

    <div class="edit-profile">
        <a href="#">Edit Profile</a>
    </div>
    </div>
</section>
</body>
</html>
